# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual Environment
venv/
env/
ENV/

# ======================
# Django
# ======================
db.sqlite3
*.log
*.pot
media/
staticfiles/

# Migration cache
**/migrations/__pycache__/

# ======================
# Environment Variables
# ======================
.env
.env.*

# ======================
# IDE / Editors
# ======================
.vscode/
.idea/
*.swp

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Node / Frontend
# ======================
node_modules/
npm-debug.log*
yarn-error.log*

# ======================
# Build Files
# ======================
dist/
build/

# ======================
# Coverage / Testing
# ======================
htmlcov/
.coverage
coverage.xml

# ======================
# Temporary Files
# ======================
*.tmp
*.bak
