# Django 
Django>=4.2,<5.0

# Django REST Framework for building APIs
djangorestframework>=3.14.0

# Django CORS Headers for handling Cross-Origin Resource Sharing (CORS)
django-cors-headers>=4.0.0

# Django REST Framework Simple JWT for JSON Web Token authentication
djangorestframework-simplejwt>=5.3.0

# PostgreSQL database adapter for Python
psycopg2-binary>=2.9.9



# for loading environment variables from a .env file
python-dotenv>=1.0.0


# background task processing(async and scheduled)
celery>=5.3.6
# message broker
redis>=5.0.1

# for loading environment variables from a .env file
python-dotenv>=1.0.0

# for running the application in production with Gunicorn
# gunicorn>=21.2.0
