

.admin-container {
  display: flex;
  height: 100vh;
  /*font-family: Arial, sans-serif;*/
}

/* Sidebar */
.sidebar {
  width: 220px;
  
  background: #dde0e0; 
  /*color: rgb(17, 16, 16);*/
  padding: 20px;
}

/*.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar li:hover {
  background: #363a3e;
}*/

.sidebar a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.sidebar li {
  transition: 0.3s;
}

.sidebar li:hover {
  background: #0a3d62;
  color: white;
}


.main-content {
  flex: 1;
  overflow-y: auto;
  /* background: #f1f5f9; */
}



.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


.cards {
  display: flex;
  gap: 20px;
  padding: 20px;
}




/*.table-section {
  background: #dde0e0;
  margin: 27px;
  padding: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #df0404;
}
*/

