
:root {
  font-family: 'Space Grotesk', 'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: #0b1220;
}

* {
  box-sizing: border-box;
}

/* ---------- BODY BACKGROUND ---------- */
body {
  margin: 0;
  min-height: 100vh;

  background:
    linear-gradient(rgba(0,10,30,0.6), rgba(0,10,30,0.6)),
    url("/images/background.png") red;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* Dark overlay */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 10, 30, 0.6);
  z-index: -1;
}

/* ---------- LOGIN CARD ---------- */
.login-card {
  background: #06152b;
  padding: 60px;
  border-radius: 20px;
  width: 420px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.45);
  text-align: center;
  color: white;

  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.login-card h2 {
  margin-bottom: 25px;
  font-size: 26px;
}

.login-card input,
.role-select {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #2e3f63;
  background: #0b1e3d;
  color: white;
}

.login-card input::placeholder {
  color: #9fb3d9;
}

.login-card button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, #4da3ff, #7b6cff);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.message {
  margin-top: 10px;
  color: #ff6b6b;
}

.register-link {
  margin-top: 15px;
  font-size: 14px;
  color: #bcd3ff;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

